body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(../images/search.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;

}

*{
  font-family: 'poppins',sans-serif;
  transition: 0.4s; 

}
.search-nav{
  margin: 0;
  overflow: hidden;
  
}
.search-nav ul {
  background-color: black;
  margin: 0;
  padding: 0;

  
}

.search-nav ul li {
  margin-left: 2vh;
  list-style: none;
  display: inline-block;
  
  

}
.search-nav ul li a{
  margin-left: 0px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 3vh;

}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  
}
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  

}
.search-input {
  width: 100%;
  padding: 20px;
  border: black 2px solid;
  border-radius: 30px;
  font-size: 3vh;
  

}


.search-input::placeholder{
  color: #000;
}

#search-button {
  padding: 10px 20px;
  font-size: 3vh;
  border: 5px solid gainsboro;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  
}

#search-button:hover {
  transition: 0.4s;
  color: #000;
}

.button{
  text-align: center;
}

