body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, blue, red);
  background-size: cover;
  background-attachment: fixed;
}

* {
  font-family: "poppins", sans-serif;
}

#title {
  font-size: 70px;
  text-align: center;
}

nav {
  height: 100px;
  margin-top: -10px;
}
nav ul {
  background: rgba(0, 0, 0, 0.274);
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 0px;
  max-width: 100%;
  min-width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}

nav ul li {
  display: inline-flex;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 30px;
}

nav ul li a {
  font-size: 110%;
  text-decoration: none;
  color: white;
}

.main {
  overflow: hidden;
  margin-top: 10px;
}

.container1,
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.elzero {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 6px 20px 6px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  width: 400px;
  height: 460px;
  margin: 0px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  min-width: 250px;
  border-radius: 30px;
  padding: 0;
  background-color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;

}
.elzero * {
  text-decoration: none;
  color: black;
  text-align: center;
}
.elzero img {
  width: 300px;
  max-width: 300px;
  max-height: 290px;
  margin-top: -30px;

  border: 1px none solid;
  border-radius: 30px;
}

.elzero h3 {
  font-size: 30px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.elzero p {
  margin-top: 10px;
  padding: 0;
  margin: 0;
}

.elzero:hover {
  cursor: pointer;
}

#cmder img {
  border-radius: 0;
}

.elzero button {
  background-color: #eee;
  border-radius: 30px;
  font-size: 30px;
  border: 3px solid black;
  text-wrap: nowrap;
  text-decoration: underline;
  padding: 0;
  position: absolute;
  bottom: -20px;

}

.elzero *:hover {
  cursor: pointer;
}


#cmder p{
  margin-top: 20px;
}

#vscode p{
  margin-top: 30px;
}


@media only screen and (max-width: 450px) {
  body {
    overflow: visible;
  }
  .main {
    overflow: hidden;
    margin-top: 90px;
  }
  nav ul li a {
    font-size: 20px;
  }

  nav ul li {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #title {
    font-size: 40px;
  }

  .elzero img {
    min-width: 200px;
    max-width: 200px;
    max-height: 300px;
    margin-top: -20px;

    border-radius: 30px;
  }

  .elzero button {
    font-size: 18px;
  }
  
  #vscodeDownload{
    margin-top: 10px;
  }

  #vscode p {
    margin-top: 5px;
  }

  #cmderDownload{
    margin-top: 5px;
  }
 
  .elzero {
    height: 370px;
  }
}
@-moz-document url-prefix() {
  .main {
    margin-top: 100px;
  }
}