body {
  padding: 0;
  margin: 0;
  background: url(../../images/ai.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

* {
  font-family: "poppins", sans-serif;
  transition: 0.4s;
}



nav {
  position: sticky;
  top: 0px;
  z-index: 1;
}
nav ul {
  background: rgba(0, 0, 0, 0.274);
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}

nav ul li {
  display: inline-block;
  margin-left: 2vh;
}

nav ul li a {
  font-size: 120%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.main {
  overflow: hidden;
  margin-top: 10px;
}

.container1,
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.elzero {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 6px 6px 6px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  width: 400px;
  height: 400px;
  margin: 0px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  min-width: 250px;
  border-radius: 30px;
  padding: 0;
  background-color: white;
  position: relative;
}
.elzero * {
  text-decoration: none;
  color: black;
  text-align: center;
}
.elzero img {
  width: 300px;
  max-width: 300px;
  max-height: 290px;
  border: 1px none solid;
  border-radius: 30px;
}

.elzero h3 {
  font-size: 30px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.elzero h4 {
  margin-top: 10px;
}

.elzero:hover {
  cursor: pointer;
}

.elzero i {
  position: absolute;
  top: 20%;
  font-size: 200px;
}

#blackbox-icon {
  background-color: black;
  padding: 10px;
  height: 20%;
  width: 70%;
  position: absolute;
  bottom: 30%;
}

@media only screen and (max-width: 450px) {
  body {
    overflow: visible;
  }
  .main {
    overflow: hidden;
    margin-top: 90px;
  }

  .elzero img {
    min-width: 200px;
    max-width: 200px;
    max-height: 300px;
    margin-top: -30px;

    border-radius: 30px;
  }

  .elzero {
    height: 300px;
  }
}
@-moz-document url-prefix() {
  .main {
    margin-top: 100px;
  }
}
